! ------------------------------------------------------------------------------
! 1. FONT RENDERING
! ------------------------------------------------------------------------------
Xft.dpi:       100
Xft.autohint:  0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting:   1
Xft.antialias: 1
Xft.rgba:      rgb

! ------------------------------------------------------------------------------
! 2. CURSOR CONFIGURATION
! ------------------------------------------------------------------------------
Xcursor.theme: Chameleon-Pearl-Large-0.5
Xcursor.size:  40

! ------------------------------------------------------------------------------
! 3. URXVT / XTERM
! ------------------------------------------------------------------------------
*.font: xft:Iosevka Nerd Font:size=14
*.renderFont: true

